@model IEnumerable<src.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex w-100 row justify-content-center">
    <div style="max-width: 1000px" class="mt-5">
    <h1 class="mb-4">Avaliações sobre os artigos publicados no blog</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto.Artigo)
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
