@model src.Models.Texto

@{
    ViewData["Title"] = "Detalhes";
}

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil.NomePerfil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Cancelar</a>
</div>
