@model IEnumerable<src.Models.Texto>

@{
    ViewData["Title"] = "Início";
}

<div class="h-100">
    <div class="bg-secondary m-0 text-center p-5 d-flex align-items-center justify-content-center" style="height: 40% !important;">
        <h1 class="display-4 text-white font-weight-bold">O seu blog para divulgação científica de forma simplificada</h1>
    </div>
    <div class="mt-5">
        <h2 class="font-weight-bold text-center mb-5">Postagens Recentes</h2>
        <div class="w-100 h-100 d-flex justify-content-around">
            @foreach (var item in Model)
            {
                <div class=" card text-bg-success mb-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <p class="card-text">@item.Data.ToString("dd/MM/yyyy")</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Tipo)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Perfil.NomePerfil)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Artigo)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
