@model IEnumerable<src.Models.Texto>

@{
    ViewData["Title"] = "Início";
}

<div class="h-100">
    <div class="bg-secondary m-0 text-center p-5 d-flex align-items-center justify-content-center" style="height: 40% !important;">
        <h1 class="display-4 text-white font-weight-bold">O seu blog para divulgação científica de forma simplificada</h1>
    </div>
    <div class="mt-5">
        <h2 class="font-weight-bold text-center mb-5">Postagens Recentes</h2>
        <div class="w-100 h-100 d-flex justify-content-around">
@foreach (var item in Model)
{
            <div style="width:250px !important; height:300px !important;">
                <h2>@Html.DisplayFor(modelItem => item.Titulo)</h2>
                <h4>@Html.DisplayFor(modelItem => item.Data)</h4>
                <span>@Html.DisplayFor(modelItem => item.Tipo)</span>
                <span>@Html.DisplayFor(modelItem => item.Perfil.NomePerfil)</span>
                <span>@Html.DisplayFor(modelItem => item.Artigo)</span>
            </div>
}
        </div>
    </div>
</div>